@{
    ViewData["Title"] = "Produits";
}
@model List<Product>

<table class="table">
    <!-- En-tête du tableau -->
    <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Prix</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- Boucle sur chaque produit pour afficher les informations -->
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price €</td>
                <td>
                    <!-- Formulaire de suppression du client -->
                    <form method="post" action="@Url.Action("Delete", "Product", new { id = product.Id })" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer le produit @product.Name ?')">
                        <button type="submit" class="btn btn-danger btn-sm">Supprimer</button> <!-- Bouton de suppression du produit -->
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Url.Action("Create", "Product")">Ajouter un produit</a> <!-- Lien pour ajouter un nouveau produit -->
</div>
